.section {
	margin-top: 100px;
}

.title {
	color: black;
	font-size: 6vh;
	font-weight: bold;
	text-align: center;
}

.description_intro {
	padding: 3rem;
	text-align: center;
	font-size: xx-large;
	color: black;
	font-weight: bold;
}
.description {
	padding: 3rem;
	text-align: center;
	font-size: x-large;
	color: black;
}
