.burger-btn {
	position: absolute;
	top: 2rem;
	right: 2rem;
	background: none;
	border: none;
	cursor: pointer;
	z-index: 100;
}

.main {
	min-height: 100vh;
	position: relative;
	overflow: hidden;
}

.logo {
	width: 130px;
	height: 100px;
	z-index: 30;
}

.navbar {
	padding: 2rem;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	height: 100px;
	width: 100%;
	z-index: 150;
	background-color: rgb(192, 128, 64, 0.9);
	border-bottom: rgb(192, 128, 64) 2px solid;
}

.logo {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 120px;
	max-height: 120px;
}

.logo img {
	z-index: 30;
}
