.footer {
	display: flex;
	overflow: hidden;
	width: 100vw;
	padding: 0.5rem;
	background-color: #c08040;
	color: #fff;
}

.footer ul {
	list-style: none;
}

.footer a {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #fff;
	transition: color 0.3s ease-in-out;
}

.footer h3 {
	margin-bottom: 1rem;
	font-size: 1rem;
}

.footer li {
	margin-bottom: 0.5rem;
}

.footer a:hover {
	color: #f7b16a;
}

.contact {
	height: 100%;
	display: flex;
	flex-direction: column;
	max-width: 40%;
}

.socials {
	width: 30%;
}

.info {
	width: 30%;
}

.contact,
.socials,
.info {
	padding: 1rem;
	font-size: 0.75rem;
	height: 100%;
	display: flex;
	flex-direction: column;
}
